In [2]:
# Import the dependencies.
import pandas as pd
import gmaps as gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Codrington,-38.27,141.97,50.07,73,98,16.80,AU,2020-08-23 02:11:10
1,1,Bredasdorp,-34.53,20.04,48.20,87,34,5.82,ZA,2020-08-23 02:07:53
2,2,Mahebourg,-20.41,57.70,69.80,77,75,9.17,MU,2020-08-23 02:08:28
3,3,Mataura,-46.19,168.86,54.00,80,95,5.01,NZ,2020-08-23 02:07:54
4,4,Kendari,-3.94,122.50,82.67,60,36,4.43,ID,2020-08-23 02:11:12

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Cambridge,43.36,-80.31,82.99,47,1,9.17,CA,2020-08-22 23:36:10
3,3,Sakakah,29.97,40.21,80.60,22,0,6.93,SA,2020-08-22 23:38:28
4,4,Butaritari,3.07,172.79,83.21,64,100,7.09,KI,2020-08-22 23:36:47
10,10,Tabou,4.42,-7.35,75.72,89,79,10.85,CI,2020-08-22 23:38:31
12,12,Atuona,-9.80,-139.03,78.31,78,41,17.76,PF,2020-08-22 23:36:34
13,13,Kousseri,12.08,15.03,75.20,94,40,4.70,CM,2020-08-22 23:38:32
14,14,Pochutla,15.74,-96.47,82.40,74,90,6.93,MX,2020-08-22 23:38:33
15,15,Constantine,36.37,6.61,73.40,56,0,4.70,DZ,2020-08-22 23:38:33
18,18,Tuban,-6.90,112.06,77.95,80,4,8.14,ID,2020-08-22 23:38:35
19,19,Tukrah,32.53,20.58,78.80,73,0,13.91,LY,2020-08-22 23:38:35

In [11]:
preferred_cities_df.count()

City_ID       273
City          273
Lat           273
Lng           273
Max Temp      273
Humidity      273
Cloudiness    273
Wind Speed    273
Country       273
Date          273
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
1     Cambridge      CA     82.99  43.36  -80.31
3       Sakakah      SA     80.60  29.97   40.21
4    Butaritari      KI     83.21   3.07  172.79
10        Tabou      CI     75.72   4.42   -7.35
12       Atuona      PF     78.31  -9.80 -139.03
13     Kousseri      CM     75.20  12.08   15.03
14     Pochutla      MX     82.40  15.74  -96.47
15  Constantine      DZ     73.40  36.37    6.61
18        Tuban      ID     77.95  -6.90  112.06
19       Tukrah      LY     78.80  32.53   20.58

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Cambridge,CA,82.99,43.36,-80.31,Cambridge Gateway Suites
3,Sakakah,SA,80.60,29.97,40.21,Fakhamat Al Orjoana Apartment
4,Butaritari,KI,83.21,3.07,172.79,Isles Sunset Lodge
10,Tabou,CI,75.72,4.42,-7.35,hotêl doufoulougou
12,Atuona,PF,78.31,-9.80,-139.03,Villa Enata
13,Kousseri,CM,75.20,12.08,15.03,Résidence le Palmier
14,Pochutla,MX,82.40,15.74,-96.47,Hotel Posada San Jose
15,Constantine,DZ,73.40,36.37,6.61,Grand Hotel Cirta
18,Tuban,ID,77.95,-6.90,112.06,Hotel Mustika
19,Tukrah,LY,78.80,32.53,20.58,استراحة لاقروتا

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))